* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    min-width: 1030px;
}

header {
    background-color: #682fb3;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.icon {
    font-size: 2.3rem;
    margin: 0rem 3rem;
    align-self: center;
    color: aliceblue;
}

.menu {
    display: flex;
}

nav {
    margin: 0rem 3rem;
}

.option {
    font-size: 1.5rem;
    margin: 0rem 2rem;
    align-self: center;
}

.pages {
    text-decoration: none;
    color: aliceblue;
}

.pages:hover {
    color: rgb(184, 146, 255);
}

section {
    margin: 5rem;
    display: flex;
    flex-direction: column;
}

.block {
    border-top: 0.2rem solid black;
}

.title {
    font-size: 1.6rem;
    padding: 1.5rem 1rem 0rem;
}

.education {
    margin: 2.2rem 1rem;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 8rem;
}

p {
    align-self: center;
    margin-left: 2rem;
    font-size: 1.2rem;
}
